xsd/pkg/product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.cpw.com/pkg"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:cpw="http://www.cpw.com/pkg">

	<include schemaLocation="common.xsd"></include>
	<element name="product" type="cpw:prodType"></element>

	<complexType name="prodType">
		<sequence>
			<element name="pkg" type="string"></element>
		</sequence>
	</complexType>
</schema>